body{
  margin: 0px;
  font-family: sans-serif;
  
}

#header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  width: 100%;
  height: 82px;
  background: #FFFFFFE0;
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 2px 2px ;
  border-bottom: 1.5px solid #E7E7E7;
  
}
#icon img{
  width: 290px;
  top: -7px;
  position: absolute;
  left: -25px;
  background: transparent ;
  color: white
}
#iconsvg svg{
  width: 37px;
  position: absolute;
  top: 23px;
  right: 15px;
}
#iconsvg{
border-radius: 9px;
  width: 90px;
  
}





#search svg{
  width: 25.5px;
  position: absolute;
  top: 29px;
  right: 80px;
  fill: red;
  
}
.dark-mode {
    background: #131416;
  
}

#menu{
  position: fixed;
  width: 260px;
  height: calc(96% );
  top: 2%;
  right: 10px;
  background:  #FFFFFF;
  border-radius: 10px;
  z-index: 9990;
}

#backmenu{
  width: 100%;
  height: 100%;
  background: #7F7F7FB8;
  position: fixed;
  backdrop-filter: blur(9px);
  display: none;
  z-index: 999;
   top: 0px; 
}

#back svg{
  fill: #A7A7A7;
  border-radius: 5px;
  width: 47px;
  position: absolute;
  top: 18px;
  right: 16px;
  rotate: 180deg;
}

#selectdarkmode{
  width: 92%;
  height: 60px;
  border-radius: 10px;
  position: absolute;
  top: 139px;
  right: 4%;

  display: flex;
  border-radius: 20px;

}


#selectdarkmode :nth-of-type(1){
  width: 40%;
  height: 60px;
  border-radius: 5px;

  margin: 1px;
  flex-grow: 1;
  background: #1A1A1A;
}


#selectdarkmode :nth-of-type(2){

width: 20%;
flex-grow: 1;
  border-radius: 5px;
  height: 60px;
  background: #FFFFFF;
  margin: 1px;
}





#selectdarkmode :nth-of-type(3){

width: 40%;
flex-grow: 1;
  border-radius: 5px;
  height: 60px;
  background: #E2E2E2;
  margin: 1px;
  
}
.menuhr{
  position: relative;
  top: 78px;
  border-top: 1px solid #53535314;
  border-bottom: .5px solid #53535314;
  border-left: .5px solid #53535314;
  border-right: .5px solid #53535314;
  color: #F8F8F8;
  width: 95%;
}
.txtdark{
  color: #A3AAB2;
  position: relative;
  top: 70px;
  text-align: right;
  letter-spacing: 3px;
  right: 16px;
  font-size: 17px;
}
.txtdark::selection{
color: darkorange;
}
#darkone svg{
  width: 90px;
  margin-top: 40px;
  background: red;
}
#bettary{
  position: fixed;
  bottom: 20px;
  width: 90%;
  background: #3C3E4AE0;
  backdrop-filter: blur(6px);
  height: 66px;
  left: 5%;
  border-radius: 13px;
  display: none;
  z-index: 9999;
}
#bettary svg{
  width: 45px;
  position: absolute;
  right: 13px;
  top: 9px;
}

#bettary p{
  color: white;
  position: absolute;
  right: 75px;
  top: -6px;
  
}
#sharebtn{
  width: 70%;
  height: 40px;
  background: red;
  position: absolute;
  top: 250px;
  left: 4%;
  border-radius: 5px;
  background-image: linear-gradient(90deg,#7B87FE,#C460C6);
  box-shadow: 0px 0px 9px #E4E4E4;
  font-family: sans-serif;
  font-weight: 500;
}
#sharebtn p{
  color: #FFFFFF;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16.9px;
}

#share{
  position: fixed;
  width: 90%;
  height: 400px;
  left: 5%;
  top: 110px;
  border-radius: 10px;
  background: #153448;
  z-index: 9;
  display: none;
}
#share p{
  text-align: center;
  font-size: 19px;
  background-image: linear-gradient(90deg,#778AFE,#C560C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  font-family: sans-serif;
}
#share img{
  width: 230px;
  margin: auto;
  border-radius: 5px;
  
}
#sharebtnimg{
  width: 44%;
  position: fixed;
  left: 20%;
  top: 419px;
  height: 33px;
  background-image: linear-gradient(90deg,#6379FF,#D737D7);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#backbtnimg{
  width: 60%;
  position: fixed;
  left: 20%;
  top: 460px;
  height: 33px;
  background: #B5B5B5;
  
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#downloadimg{
  width: 15%;
  position: fixed;
  left: 65%;
  top: 419px;
  height: 33px;
background-image: linear-gradient(90deg,#6379FF,#D737D7);


  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
.txtdark2{
  color: #A3AAB2;
  position: relative;
  top: 140px;
  text-align: right;
  letter-spacing: 3px;
  right: 16px;
  font-size: 17px;
}
.txtdark2::selection{
  color: darkorange;
}
#reloadbtn{
  width: 20%;
  height: 40px;

  position: absolute;
  top: 250px;
  right: 5%;
  border: none;
  border-radius: 5px;
  background: #333C45;
  box-shadow: 0px 0px 9px #E4E4E4;
  font-family: sans-serif;
  font-weight: 500;
  
}
.txtdark3{
  color: #A3AAB2;
  position: relative;
  margin-top: 209px;
  text-align: right;
  letter-spacing: 2px;
  right: 16px;
  font-size: 17px;
}

.txtdark3::selection{
  color: darkorange;
}
#whatsapp{
  flex-grow: 1;
  
  height: 50px;
  position: absolute;
  margin-top: 10px;
  width: 44%;
  left: 5%;
  background: #2DCE4A;
  display: flex;
  justify-content: center;
  border-radius: 9px;
}

#whatsapp svg{
  height: 47px;
  margin-top: 2px;
  filter: drop-shadow(0px 0px 2px #717171B8)
}


#messanger{
  flex-grow: 1;
  
  height: 50px;
  position: absolute;
  margin-top: 10px;
  width: 44%;
  right: 5%;
  background-image: linear-gradient(50deg,#881CFA,#FE385D,#FEC600);
  display: flex;
  justify-content: center;
  border-radius: 9px;
}

#messanger svg{
  height: 50px;
  margin-top: 0px;
 filter: drop-shadow(0px 0px 2px #717171B8);
}

#instgram{
  width: 30%;
  
  height: 65px;
  position: absolute;
  top: 550px;
  flex-grow: 1;
  border-radius: 9px;
  left: 67%;
}
#searchback{
  width: 100%;
  height: 100%;
  z-index: 909;
  background: #FCFCFC;
  position: fixed;
  top: 0px;
  display: none;
}

#searchback p{
  text-align: right;
  margin-right: 30px;
  margin-top: 32px;
  color: #348AA1;
  font-size: 17.6px;
}

#myInput{
  position: absolute;
  top: 30px;
  left: 10px;
  width: 240px;
  background: #EBECF0;
  border: none;
  height: 39px;
  border-radius: 15px;
  outline: none;
  box-shadow: 15px -11px 18px -17px rgba(0,0,0,0.1);
}
#myInput::placeholder{
  position: relative;
  left: 20px;
  color: #A1A8B4;
  font-size: 13.8px;
  font-weight: 600;
  letter-spacing: 1px;
} 







* {
  box-sizing: border-box;
}

#myUL{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 97%;
  left: 1.5%;
  top: 6px;
  height: 300px;
  border: solid #FFFFFF36 1.8px;
  
  overflow: scroll;
  border-radius: 7px;
  
  
}



#myUL li a {
  border: 1px solid #ECECEC4A;
  margin-top: -1px; /* Prevent double borders */
  background-color: #FFFFFF75;
  padding: 11px;
  text-decoration: none;
  font-size: 18px;
  color: #242424;
  display: block;
  border-radius: 4px;
  margin: 3px;
  backdrop-filter: blur(9px);
  
}

#myUL li a:hover:not(.header) {
  background-color: #EEEEEEB3;
}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#4FCE59 93%,#00000000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
  position: fixed;
  top: 45vh;
}
@keyframes l7 {to{transform: rotate(.5turn)}}
.flex-loader{
  display: flex;
  justify-content: center;
  
}

#iconprivce{
  background-image: linear-gradient(#BED9FC,#E9D4E7) ;
  position: fixed;
  top: 150px;
  width: 70%;
  left: 15%;
  height: 150px;
  border-radius: 10px;
  z-index: 99;
  display: none;
}

#iconprivce p{
text-align: right;
margin-right: 20px;
background-image: linear-gradient(#A3A9FD,#2B91FC,#E9D4E7);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-stroke-color: transparent;

color: transparent;
font-size: 18px;
margin-top: 10px;
}

#iconprivce img{
  width: 50%;
  position: absolute;
  left: 25%;
  top: 40px;
}

#imgprivacyico{
  filter: drop-shadow(0px 0px 2px #717171B8)
}

#txtprivacy{
 color: #464646;
}


#txtprivacy::selection{
  color: #28AF2F;
}

#backmyul{
  position: absolute;
  width: 97%;
  left: 1.5%;
  top: 100px;
  height: 312px;
  border-radius: 10px;
  background-image: linear-gradient(60deg,#EBECF0E0,#EBECF0E0);

animation: mina ;
}


@keyframes mina{
  10%{background-position: 9px 0px 6px 8px};
  50%{background-position: 10px 5px 10px 6px}
  100%{background-position: 10px 5px 10px 6px}
}


#flexbox{
  display: flex;
  flex-wrap: wrap;
  
}



#play{
  position: relative;
  width: 45%;
  top: 88px;
  margin: 2.5%;
  height: 230px;
  border-radius: 10px;
  background: #232425;
  z-index: 1;
  
}

#play img{
  width: 60%;
  aspect-ratio: 1/1 ;
  margin-left: 20%;
  margin-top: 32px;
  border-radius: 10px;

}

#play h3{
  color: #C5C5C5;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
}
#play b{
  color: whitesmoke;
  position: absolute;
   right: 21px;
   bottom: 2px;
   font-size: 12px;
}

#play svg{
  width: 40px;
  position: absolute;
  margin: 5px;
  bottom: 4px;
}
#androidsvg{
  width: 30px;
  margin: 10px;
  height: 30px;
}

h3::selection{
  
}
#fleximg{
  display: flex;
  justify-content: center;
}


#mod{
  width:55px;
  height: 25px;
  background: #FCFCFC12;
  backdrop-filter: blur(4px);
  position: absolute;
  top: 20px;
  direction: rtl;
  text-align: center;
  right: 15px;
  border-radius: 10px;
}

#mod p{
  margin-top: 2.5px;
  color: #66D53E;
}
.new p{
  color: red;
}
.section-title{
position: relative;
text-align: right;
top: 120px;
right: 10px;
z-index: -1;
}

.section-title img{
  width: 44px;
  position: relative;
  right: 3px;
  top: 37.5px;
}

.section-title p{
  position: relative;
  right:59px;
  top: -27px;
  font-weight: 1200;
  color: #203242;
}
#arrow{
  width: 43px;
  position: relative;
  left: 15px;
  top: 42px;

  z-index: -1;
}

#slideshow{
  position: relative;
  top: 100px;
  width: 97%;
  left: 1.5%;
  height: 220px;
  background: red;
  z-index: -1;
  border-radius: 10px;
}

#scrool1 img{
 width: 90%;
 position: relative;
 height: 220px;
 left: 5%;
}

#appicon img{
  width: 44px;
  position: absolute;
  right: 10px;
  margin-top: 122px;
  z-index: -1;
}

#appicon h3{
position: absolute;
  right:64px;
  margin-top:128px;
  font-weight: 1200;
  color: #203242;
  z-index: -1;
}
#arrow2{
  width: 43px;
  position: relative;
  left: 15px;
  top: 120px;
  z-index: -1;
}



#fotter{
  width: 100%;
  height: 240px;
  position: relative;
  bottom: 0px;
  background: #142535;
  margin-bottom: 0px;
  margin-top: 120px;
  z-index: 1;
  border-radius: 30px 30px 0px 0px;
}
#fotter h3{
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  position: relative;
  top: 30px;
}
.flex-iconfo{
  width: 230px;
  height: 50px;
  background: #42445A63;
  margin: auto;
  position: relative;
  top: 30px;
  border-radius: 10px;
 box-shadow: 0px 0px 5px #343434B5;
}
.flex-iconfo p{
  font-size: 15px;
  top: 6px;
  position: relative;
  color: #C9CAD3B5;
  
}




/* responsive media query page website*/

@media only screen and (min-width: 860px) {
#share{
  position: fixed;
  width: 30%;
  height: 400px;
  margin: auto;
  left: 35%;
  top: 110px;
  border-radius: 10px;
  background: #153448;
  z-index: 9;
  display: none;
}
.section-title p{
  position: relative;
  right:90px;
  top: -27px;
  font-weight: 1200;
  color: #203242;
}
#arrow{
  width: 43px;
  position: relative;
  left: 30px;
  
}

.slider{
  position: relative;
  top: 100px;
  width: 35%;
  max-width: 600px;
  left: 37.5%;
  height: 220px;
margin: auto;
  z-index: -1;
  border-radius: 10px;
}

#appicon img{
  width: 44px;
  position: absolute;
  right: 10px;
  margin-top: 122px;
  z-index: -1;
}

#appicon h3{
position: absolute;
  right:90px;
  margin-top:128px;
  font-weight: 1200;
  color: #203242;
  z-index: -1;
}
#arrow2{
  width: 43px;
  position: relative;
  left: 30px;
  top: 120px;
  z-index: -1;
}

#fotter{
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 0px;
  background: #142535;
  margin-bottom: 0px;
  z-index: 99;
  
}



#play{
   width: 180px;
 }
 
  #bettary{
  position: fixed;
  bottom: 20px;
  width: 50%;
  background: #3C3E4AE0;
  backdrop-filter: blur(6px);
  height: 66px;
  left: 25%;
  border-radius: 13px;
  display: none;
  z-index: 9999;
}
#searchback p{
  text-align: right;
  margin-right: 130px;
  margin-top: 32px;
  color: #348AA1;
  font-size: 17.6px;
}
#menu{
  position: fixed;
  width: 260px;
  height: calc(92% );
  top: 83px;
  right: 10px;
  background:  #FFFFFF;
  border-radius: 10px;
  
  
}



#myInput{
  position: absolute;
  top: 30px;
  left: 25%;
  width: 50%;
  background: #EBECF0;
  border: none;
  height: 39px;
  border-radius: 15px;
  outline: none;
  margin: auto;
  box-shadow: 15px -11px 18px -17px rgba(0,0,0,0.1);
}
#myUL{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 98%;
  left: 1%;
  top: 6px;
  height: 300px;
  border: solid #FE0B0B 1.8px;
  overflow: scroll;
  border-radius: 7px;
  
  box-shadow: rgba(200, 200, 200, 0.2) 0px 3px 24px;
}

#backmyul{
  position: absolute;
  width: 50%;
  margin: auto;

  left: 25%;
  top: 190px;
  height: 312px;
  border-radius: 10px;
  background-image: linear-gradient(60deg,#EBECF0E0,#EBECF0E0);
  box-shadow: 0px 0px 3px #C6C6C6D1;

}
#share p{
  text-align: center;
  font-size: 19px;
  background-image: linear-gradient(90deg,#778AFE,#C560C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  font-family: sans-serif;
}
#share img{
  width: 230px;
  margin: auto;
  border-radius: 5px;
  
}
#sharebtnimg{
  width: 20%;
  position: fixed;
  left: 36%;
  top: 419px;
  height: 33px;
  background-image: linear-gradient(90deg,#6379FF,#D737D7);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#backbtnimg{
  width: 27%;
  position: fixed;
  left:36.5%;
  top: 460px;
  height: 33px;
  background: #B5B5B5;
  
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#downloadimg{
  width: 7%;
  position: fixed;
  left: 57%;
  top: 419px;
  height: 33px;
background-image: linear-gradient(90deg,#6379FF,#D737D7);


  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}
}






